.register-container {
  background-color: #c689c6;
  height: 700px;
  display: flex;
  justify-content: center;
}

.img-left {
  height: 520px;
  width: 400px;
}

.right-div {
  height: 520px;
  width: 82%;
  background-color: #ffecef;
  margin-top: 2.5px;
}

.label {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 7%;
  padding-left: 10%;
}

.new-acc-label {
  font-family: "Cormorant Garamond", serif;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 7%;
  padding-left: 10%;
  cursor: pointer;
}

.res-inp {
  margin-top: 3px;
  margin-left: 10%;
  height: 20px;
  width: 80%;
  background-color: transparent;
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
}

.res-inp::placeholder {
  color: black;
}

.res-btn {
  font-size: 1.1rem;
  height: 50px;
  width: 130px;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 1px solid black;
  transition: background-color 200ms ease, color 200ms ease;
  cursor: pointer;
}

.res-btn:hover {
  background-color: black;
  color: white;
}

.footer-div {
  background-color: #ff99d7;
  padding-top: 40px;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.logo-img {
  height: 90px;
  width: 140px;
}

.logo-container {
  margin-left: 30px;
  padding-bottom: 20px;
  margin-right: 30px;
}

.footer-link {
  width: 70%;
  margin-top: 30px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

.icons {
  width: 15%;
  margin-top: 30px;
}

.icon-wrapper {
  display: inline;
  padding-left: 15px;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}

.awe-icon {
  width: 27px;
  height: 27px;
  padding: 5px;
  background-color: #ffabe1;
  border-radius: 50%;
  transition: background-color 200ms ease;
}

.awe-icon:hover {
  background-color: #e80f88;
}

.trademark {
  color: white;
  font-size: 0.9rem;
  margin-left: 25px;
  padding-bottom: 10px;
}

.video-div {
  margin-left: 10%;
}
